language: python

cache: pip

matrix:
  fast_finish: true
  include:
    - python: 2.7
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true

env:
  global:
  - GH_REF: git@github.com:smarie/python-fprules.git

before_install:
  # (a) linux dependencies
  - sudo apt-get install pandoc
  - sudo apt-get install ant
  - sudo apt-get install ant-optional  # for junitreports

install:
  - pip list
  - pip install setuptools_scm  # apparently python 2 does not support that it is installed simultaneously with pytest-cases
  - python ci_tools/py_install.py pip ci_tools/requirements-pip.txt
  - if [ ! "${TRAVIS_PYTHON_VERSION}" = "2.7" ]; then pip install doit; fi;
  # travis-specific installs
  - pip install PyGithub  # for ci_tools/github_release.py
  - pip install codecov  # See https://github.com/codecov/example-python.
  - pip list

script:
#  - coverage run tests.py
  - pip install .
  - python -c "import os; os.chdir('..'); import fprules"
  - pip uninstall -y fprules  # so that the setuptools_scm test can be executed
# ***tests***
#  - coverage run tests.py
#  - pytest --junitxml=reports/junit/junit.xml --html=reports/junit/report.html --cov-report term-missing --cov=./fprules -v fprules/tests/
# now done in a dedicated script to capture exit code 1 and transform it to 0
  - chmod a+x ./ci_tools/run_tests.sh
  - sh ./ci_tools/run_tests.sh
  - python ci_tools/generate-junit-badge.py 100  # generates the badge for the test results and fail build if less than x%

after_success:
# ***reporting***
#  - junit2html junit.xml testrun.html  output is really not nice
  - ant -f ci_tools/generate-junit-html.xml  # generates the html for the test results. Actually we dont use it anymore
  - codecov
  # - pylint fprules  # note that at the moment the report is simply lost, we dont transform the result into anything
# ***documentation***
  - mkdocs build -f docs/mkdocs.yml
  - mv reports/junit site/
  # mkdocs gh-deploy requires special care :
  # ---grant the possibility to push on the repo---
  - openssl aes-256-cbc -K $encrypted_17829afb66dc_key -iv $encrypted_17829afb66dc_iv -in ci_tools/github_travis_rsa.enc -out ci_tools/github_travis_rsa -d
  # If the output file does not exist, that is because the secret is invalid. This can happen in forked repos so do not fail the build
  - |
    if [ -s "ci_tools/github_travis_rsa" ]; then
      chmod 600 ci_tools/github_travis_rsa
      eval `ssh-agent -s`  # launch the authentication agent
      ssh-add ci_tools/github_travis_rsa  # register the decrypted key
      git config user.name "Automatic Publish"
      git config user.email "sylvain.marie@schneider-electric.com"
      git remote add gh-remote "${GH_REF}";
      git fetch gh-remote && git fetch gh-remote gh-pages:gh-pages;  # make sure we have the latest gh-remote
      # push but only if this is not a build triggered by a pull request
      # note: here we use the --dirty flag so that mkdocs does not clean the additional reports that we copied in the site
      if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_PYTHON_VERSION}" = "3.5" ]; then echo "Pushing to github"; PYTHONPATH=fprules/ mkdocs gh-deploy -v --dirty -f docs/mkdocs.yml --remote-name gh-remote; git push gh-remote gh-pages; fi;
    else
      echo "File 'ci_tools/github_travis_rsa' has not been created, please check your encrypted repo token in .travis.yml, on the line starting with 'openssl aes-256-cbc...'"
    fi
  # -- create the _version.py file
  - python ci_tools/write_version.py ./fprules

deploy:
  # Deploy on PyPI on tags
  - provider: pypi
    user: "smarie"
    password:
      secure: "YjMEJlvhox/hQSFFuzRoDS1SIi5c3wj+fwFZeMf728eS/18Xcjc1ZR1IRzbYRZr8Qcl960FSO9hyQAnmxItwoe7ahAIbxAvbWMFLXJyoaGjQp7Ebfo2tJFuSMfreA+NVns6xshTMnpj59fIRhyfXPFKXHtXjcXYo4KCXrPdWZPyg1kGsXjNWW3ouxmTpGuO7c/95Vfl4D9/ilfTGwh0raetVh5jy4FW09K28ru71hdSxi8tjsnepe2Zg63YH5IP2ueeV2a2PdRPeWkxgRAQrhWnuGJyg+wgZDVVw+iQR1dTp1N2f3BZfzgSJVKj1KEAqcTcGBxc/1NAnhq81yg5duVlSiVhx9tz6WTjmksYjOxH+TIQTsY9P6JQa08lJOvmiB7QddEzqqvQBF1a1ES548AUgQsqejznhQ1H5iBkHLEzBBqYnr8PL888Ocw/IXqtATrAQBsqLRKlxbXTTv6qbmxmwl0l+A7biWUHpCUBAtmO3XuF59l3JYOlvYOul0+OUNpghJE/+nTjWM07tgyLFweqZUd5mCX+f5fErqzAfh8t2+ij149d0IX6aKBycCSY0hty+ExK3KvbVwwdpp/65hSBuWwdnqfsx91V0pFfeGCc639k6IjAzjfnc6fvp5GwfR0AMl4eUAW1ETvIxn0C1Z1L74LnS3VBzDpLG+HUoqj0="
    on:
      tags: true
      python: 3.5  #only one of the builds have to be deployed
      # condition: $PYTEST_VERSION = "<3"
    # server: https://test.pypi.org/legacy/
    distributions: "sdist bdist_wheel"

  # Create a github release on tags
  - provider: script
    script: python ci_tools/github_release.py -s $GITHUB_TOKEN --repo-slug smarie/python-fprules -cf ./docs/changelog.md -d https://smarie.github.io/python-fprules/changelog/ $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      python: 3.5  #only one of the builds have to be deployed
      # condition: $PYTEST_VERSION = "<3"

notifications:
  email:
    on_success: never  # options: [always|never|change] default: always
